h2 {
    background-color: blue;
    color: beige;
    font-style: oblique;
}

h3 {
    font-style: oblique;
    color: beige;
}
p {
    font-style: italic;
    font-size: 15px;
    color: beige;
    text-align: left;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45cm;
    text-shadow: 20cap;
    color: beige;
    text-align: center;
    font-style: italic;
}
button{
    text-align: left;
}
nav{
    text-align: left;
}
h2{
    text-align: center;
}
h4{
    border-bottom: 20px;
    border-radius: 20px;
    border-left: 20px;
}