h1{
    text-align: center;
    color: beige;
    font-style: italic;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45cm;
    text-shadow: 20cap;
    color: beige;
    text-align: left;
    font-style: italic;
}
header{
    text-align: center;
}
p{
    text-align: left;
    font-style: italic;
    font-size: medium;
    color: beige;
}